
/* 【通用】基本資料的超連結顏色 */
a{
	color:#2977d2;
}

/* 【通用】各個按鈕與輸入框的樣式 ****************************************************************************************************************************************************************************************************************************/
.buy,								/* 訂購按鈕(商品頁的按鈕要用程式) */
#tool_box input,						/* 手機版齒輪工具列按鈕 */
#chk_order_div input,						/* 手機版齒輪工具列之查訂單輸入框與按鈕 */
#mem_box input,							/* 會員工具列輸入框與按鈕*/
#ct_div input,							/* 商品頁輸入購買數量輸入框與按鈕 */
.table_msg>tbody>tr:nth-of-type(5)>td>input:nth-of-type(2),	/* 商品頁手機版確定送出留言按鈕 */
.san_pin_yie_lio_yien_suon_tsu_btn,				/* 商品頁電腦版確定送出留言按鈕 */
#back1,								/* 商品頁右上角回商品列表按鈕 */
#shbt{								/* 桌面版左邊商品分類選單最上方搜尋欄位隱藏的搜尋按鈕 */
	background-color:#e8f5ff;
	margin:0 0 0 0;
	border:solid 1px #87b7dc;				/* 寬度改成零才設下面的陰影(考慮 #bbd4e6) */
	/* box-shadow:0 0 8px 0 rgba(135,183,220,0.9);		上面改成零才設這個的陰影 */
	border-radius:4px;
	font-size:20px;
	padding:7px;
	text-shadow:1px 1px #fff;
	font-family:新細明體;
}
.san_pin_yie_lio_yien_suon_tsu_btn:hover,			/* 商品頁電腦版確定送出留言按鈕 */
#back1:hover{							/* 商品頁右上角回商品列表按鈕 */
	cursor:pointer;
	background-color:#e8f5ff;
	color:#000;
}

/* 【通用】商品分類選單的樣式 (包括左邊、上面、左邊跳出細分類選單) ****************************************************************************************************************************************************************************************************************************/
.pc1_cl, .pc1_nr, .pc2_box,
.pc2b_cl, .pc2b_nr,
.pc2_cl, .pc2_nr{
	font-family:新細明體;
	font-size:12pt;
}
.pc2b_cl{
	background-color:#5984ca;
}

/* 商品分類名稱上數量樣式 ****************************************************************************************************************************************************************************************************************************/
.p_ct{
	white-space:nowrap;
}

/* 商品主分類文字樣式 ****************************************************************************************************************************************************************************************************************************/
.cls_name{
	color:#2f8cde;
	font-weight:bold;
	text-shadow:1px 1px #fff;
}
.cls_name:hover{
	color:#090;
}

/* 商品子分類前標文字、縮排、清除底線 (原本就是 ▶ indent:-13px bottom:4px，有改成 ► indent:-20px padding:0px 0px 5px 41px 但手機縮排太多算了) ****************************************************************************************************************************************************************************************************************************/
.pc2_nr::before{
	content:'▸ ';
	color:#2f8cde;
}
.pc2_cl::before{
	content:'▹ ';
}
.pc2_nr,
.pc2_cl{
	text-indent:-13px;
	padding-bottom:4px;
	text-decoration:none;
	text-shadow:1px 1px #fff;
}

/* 商品分類頁頁次樣式 ****************************************************************************************************************************************************************************************************************************/
.dis{
	background-color:#5984ca !important;
	border:solid 1px #006 !important;
	color:#fff !important;
}

/* 快速看商品圖點此看詳細內容按鈕樣式 ****************************************************************************************************************************************************************************************************************************/
#pbox_a{
	background-color:#e8f5ff;
	border:solid 1px #87b7dc;
	color:#000;
	text-shadow:1px 1px #fff;
}

/* 【商品頁專用】第一塊(商品資訊與訂購)樣式 ****************************************************************************************************************************************************************************************************************************/
.p_tiemH,			/* 商品頁最上塊去掉虛線分隔線 */
.p_tiem,
.img_note{
	background:url();
}
#zoom_area{			/* 手機版商品頁點此放大圖片的圖片 */
	text-align:center;
}

/* 【商品頁專用】留言表格樣式 ****************************************************************************************************************************************************************************************************************************/
.table_msg .title1{
	color:#000;
	font-size:21px;
	background-color:#e8f5ff;
}
.table_msg th,			/* 商品頁留言表格格線與欄位背景清除 (.table_msg .title1 考慮) */
.table_msg td,
.table_msg{
	background:#fff;
	border:solid 0px #000;
}
